.timer {
  text-align: center;
  margin-top: 50px;
  /* box-shadow: 4px 4px 4px 4px gray; */
}

#timer-display {
  font-size: 48px;
  animation: timerAnimation 1s linear infinite;
}

@keyframes timerAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

audio {
  display: none;
}

